<!DOCTYPE html>
<html lang="en" class="md:h-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Timetek to Timesheet Exporter Plus">
  <meta name="theme-color" content="#4285f4">
  <title>Timetek to Timesheet Exporter Plus</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:200,300,400,600|Fira+Mono|Lobster+Two:700&display=swap" />
</head>

<body>
  <div class="md:h-screen flex flex-col font-lato select-none bg-gray-100 bg-gradient-to-r from-blue-300 to-green-200">
    <header class="flex flex-col md:flex-row p-2 sm:p-6 bg-white shadow-md items-center justify-between space-x-2">
      <h1 class="md:flex-shrink-0 text-2xl md:text-4xl lg:text-5xl font-lobstertwo font-black tracking-tight lowercase">Timetek to Timesheet Exporter Plus&trade;</h1>
      <figure class="text-center md:text-right">
        <q class="text-gray-500 font-extralight italic text-xs md:text-md lg:text-lg">You could say I was too lazy to calculate, so I invented the computer.</q>
        <figcaption class="font-light text-xs sm:text-sm">
          <span aria-hidden="true">&mdash;</span>
          <a href="https://www.brainyquote.com/quotes/konrad_zuse_825262" id="quoteUrl" rel="noopener" target="_blank" aria-label="Quote by Konrad Zuse">
            <span>Konrad Zuse</span>
          </a>
        </figcaption>
    </header>
    <section class="flex flex-col md:flex-row h-full md:space-x-4 md:space-x-8 xl:space-x-12 mt-2">
      <div class="flex flex-col flex-1 focus-within:text-blue-800">
        <div class="px-6 py-2"><label for="timetekReport" class="text-2xl font-semibold tracking-tight lowercase cursor-pointer">Timetek</label></div>
        <div class="h-full md:rounded-r-3xl shadow-xl focus-within:bg-green-400 focus-within:outline-none focus-within:ring ring-blue-500 ring-opacity-50 overflow-hidden">
          <textarea class="appearance-none font-firamono text-lg p-6 resize-none w-full h-full border-none select-text focus:placeholder-blue-400 focus:bg-blue-100" cols="40" id="timetekReport" placeholder="Paste the content of your Timetek Report here…" rows="4"></textarea>
        </div>
      </div>
      <div class="flex flex-col flex-1 focus-within:text-green-800 ">
        <div class="px-6 py-2"><label for="timesheet" class="text-2xl font-semibold tracking-tight lowercase cursor-pointer hover:text-green-800">Timesheet</label></div>
        <div class="h-full md:rounded-l-3xl shadow-lg focus-within:outline-none focus-within:ring ring-green-500 ring-opacity-50 overflow-hidden">
          <textarea class="appearance-none font-firamono text-lg p-6 resize-none w-full h-full border-none select-text focus:placeholder-green-400 focus:bg-green-100" cols="40" id="timesheet" placeholder="…and get your timesheet ready to go!" rows="4"></textarea>
        </div>
      </div>
    </section>
    <footer class="my-8 px-6 w-full text-gray-800 bg-transparent text-xs text-justify leading-relaxed">
      <p>
        DISCLAIMER: This software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.
      </p>
      <p class="mt-2">
        If you find this useful, <a href="https://www.buymeacoffee.com/pedrofialho" rel="noopener" target="_blank"><span class="underline">buy me a coffee</span>. <span class="animate-pulse" aria-hidden="true">☕</span></a>
      </p>
    </footer>
  </div>
</body>

</html>
