<!DOCTYPE html>
<html lang="en" class="h-full dark:bg-black">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Timetek to Timesheet Exporter Plus">
  <meta name="theme-color" content="#4285f4">
  <title>Timetek to Timesheet Exporter Plus</title>
</head>

<body>
  <div class="h-screen flex flex-col select-none">
    <header class="flex p-6 shadow-2xl items-center dark:text-gray-100">
      <h1 class="text-4xl font-black tracking-tight lowercase">Timetek to Timesheet Exporter Plus&trade;</h1>
      <figure class="flex-auto text-right">
        <q class="text-gray-500 dark:text-gray-200 font-hairline italic lg:text-lg">You could say I was too lazy to
          calculate, so I
          invented the computer.</q>
        <figcaption class="font-thin text-sm">
          <span aria-hidden="true">&mdash;</span>
          <a href="https://www.brainyquote.com/quotes/konrad_zuse_825262" id="quoteUrl" rel="noopener" target="_blank"
            aria-label="Quote by Konrad Zuse">
            <span>Konrad Zuse</span>
          </a>
        </figcaption>
    </header>
    <section class="flex h-full space-x-2 dark:text-gray-100">
      <div class="flex flex-col flex-1 z-10">
        <div class="px-6 py-3"><label for="timetekReport" class="t2tep__label">Timetek</label></div>
        <div class="h-full rounded-r-3xl shadow-xl">
          <textarea class="t2tep__textbox t2tep__textbox--left dark:bg-gray-800" cols="40" id="timetekReport"
            placeholder="Paste your Timetek Report here…" rows="5"></textarea>
        </div>
      </div>
      <div class="flex flex-col flex-1 z-10">
        <div class="px-6 py-3"><label for="timesheet" class="t2tep__label">Timesheet</label></div>
        <div class="h-full rounded-l-3xl shadow-xl">
          <textarea class="t2tep__textbox t2tep__textbox--right dark:bg-gray-800" cols="40" id="timesheet"
            placeholder="…and get your timesheet ready to go!" rows="5"></textarea>
        </div>
      </div>
    </section>
    <footer class="p-6 w-full bg-transparent dark:text-gray-100">
      <p class="text-xs text-justify leading-relaxed">
        DISCLAIMER: This software is provided "as is", without warranty of any kind, express or implied, including but
        not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no
        event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an
        action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or
        other dealings in the software. If you find this useful, <a href='https://www.buymeacoffee.com/pedrofialho'
          rel='noopener' target='_blank'><span class="underline">buy me a coffee</span>. <span class="animate-pulse"
            aria-hidden="true">☕</span></a>
      </p>
    </footer>
  </div>
</body>

</html>
