@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
  &-lato {
    font-family: Lato, sans-serif;
  }
  &-firamono {
    font-family: Fira Mono, monospace;
  }
  &-lobstertwo {
    font-family: Lobster Two, sans-serif;
  }
}
